set default="0"
set timeout="3"

menuentry "KlippOS" {
    linux /bzImage root=UUID=b0771fcf-cff1-4fa5-854a-5b219d05bbf4 rootwait rw console=tty1 quiet
}

menuentry "KlippOS (verbose)" {
    linux /bzImage root=UUID=b0771fcf-cff1-4fa5-854a-5b219d05bbf4 rootwait rw console=tty1
}
